body {
    background: #ff1aff;
    color: #800080;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    position: relative;
  }
  canvas {
    border: solid .2em #fff;
    height: 90vh;
  }
  #gameControl {
      position: absolute;
      top: 50px;
      left: 100px;
      width: 350px;
      
      background-color: white;
  }
  #score {
      color: black;
      font-family: san serif;
      font-size: 60;
      text-align: center;
      position: relative;
  }
  img {
      margin-bottom: 40px;
      position:relative;
  }
